@model TeacherViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    @*<form method="post" asp-controller="Teacher" asp-action="Index">*@
    <form>
        <table>
            <tr>
                <td>
                    Teacher
                </td>
                <td>
                    <select asp-for="@Model.TeacherId" asp-items="@(new SelectList(Model.teacherInfos,"TeacherId","TeacherName"))"></select>
                </td>
                <td>
                    <button asp-controller="Teacher" asp-action="Index">Click Me</button>
                </td>
            </tr>
            <tr>
              
            </tr>
        </table>
    </form>
</div>
